.history-modal .status-title {
    border-radius: 12.5px;
    padding: 2px 10px;
    display: flex;
    height: 23px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    flex-shrink: 0;
}

.history-modal .ant-modal-header {
    padding: 0;
    border: none;
    border-radius: 20px;
}

.history-modal .ant-modal-content {
    padding: 0;
}

.history-modal .ant-modal-content {
    border-radius: 20px;
    padding: 0px 32px;
}

@media only screen and (min-width: 768px) {
    .history-modal {
        width: 668px !important;
    }
}

@media only screen and (max-width: 767px) {
    .history-modal .ant-modal-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
        padding: 0px 20px;
    }

    .history-modal .status-title {
        margin-left: 0px;
        width: unset;
        max-width: max-content;
    }
}
